.header {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

.header__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.header__line {
  border-bottom: 1px solid #545454;
  width: 100%;
  margin-top: 20px;
}

.header__logout-btn {
  color: #a9a9a9;
  background-color: none;
  background: none;
  border: none;
  outline-color: none;
  cursor: pointer;
}

.header__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
